*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background:linear-gradient(to right,rgb(241, 125, 145),pink);
    overflow: hidden;
}

.open-modal-btn{
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 6px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.modal{
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.modal__inner{
    width: 400px;
    position: relative;
    top: 50%;
    margin: auto;
    background-color: aliceblue;
    border-radius: 5px;
    overflow: hidden;
    animation: modalShow 0.5s linear;
}

.modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: blueviolet;
    color: antiquewhite;
}

.modal__body{
    padding: 25px;
}

.modal__body h2{
    color: pink;
    margin: 5px;
}

.modal__footer{
    padding: 10px;
    text-align: right;
}

.modal__footer button{
    padding: 10px 20px;
    color: white;
    background: pink;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.hide{
    display: none;
}

@keyframes modalShow{
    from{
        top: -200px;
        opacity: 0;
    }to{
        top: 50%;
        opacity: 1;
    }
}